## Best Practises
1. Preprocessing and cleaning
2. Train test split
3. BOW,TFIDF,Word2Vec
4. Train ML algorithms

In [23]:
pip install stopwords

Requirement already satisfied: stopwords in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\MSii\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
import re
import stopwords

In [10]:
df = pd.read_csv("IMDB Dataset.csv")
df.head(4)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative

In [11]:
df.shape

(50000, 2)

In [12]:
## Missing values
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [13]:
df['sentiment'].unique()

array(['positive', 'negative'], dtype=object)

In [ ]:
df['sentiment'].value_counts()
# Based on the values it's not an imbalanced dataset

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [15]:
## Preprocessing and cleaning
df['sentiment'] = df['sentiment'].replace({"positive": 1, "negative": 0})

In [16]:
df['sentiment'].unique()

array([1, 0], dtype=int64)

In [18]:
## 1. Lower all the cases in the review
df['review'] = df['review'].str.lower()

In [19]:
df.head(4)

                                              review  sentiment
0  one of the other reviewers has mentioned that ...          1
1  a wonderful little production. <br /><br />the...          1
2  i thought this was a wonderful way to spend ti...          1
3  basically there's a family where a little boy ...          0

In [24]:
import re
from nltk.corpus import stopwords

# Remove special characters
df['review'] = df['review'].apply(lambda x: re.sub('[^a-zA-Z0-9\s]', '', x))

# Remove stopwords
stop_words = set(stopwords.words('english'))
df['review'] = df['review'].apply(lambda x: " ".join([y for y in x.split() if y.lower() not in stop_words]))

# Remove URLs
df['review'] = df['review'].apply(lambda x: re.sub(r'http\S+|www\S+|https\S+', '', x, flags=re.MULTILINE))

# Remove HTML tags
df['review'] = df['review'].apply(lambda x: re.sub(r'<.*?>', '', x))

# Remove extra spaces
df['review'] = df['review'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())

In [25]:
df.head(4)

                                              review  sentiment
0  one reviewers mentioned watching 1 oz episode ...          1
1  wonderful little production br br filming tech...          1
2  thought wonderful way spend time hot summer we...          1
3  basically theres family little boy jake thinks...          0

In [26]:
## Lemmatizer
from nltk.stem import WordNetLemmatizer

In [27]:
lemmatizer = WordNetLemmatizer()

In [28]:
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [29]:
df['review'] = df['review'].apply(lambda x:lemmatize_words(x))

In [30]:
df.head(5)

                                              review  sentiment
0  one reviewer mentioned watching 1 oz episode y...          1
1  wonderful little production br br filming tech...          1
2  thought wonderful way spend time hot summer we...          1
3  basically there family little boy jake think t...          0
4  petter matteis love time money visually stunni...          1

In [33]:
df.to_csv("cleaned_imdb_dataset.csv")